@media screen and (max-width: 576px) {
    body{
        position: absolute;
        width: 100vw;
        height: auto;
        flex-direction: column;
    
    }
    .main{
        width: 100vw;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav{
        padding: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .navigate{
        position: absolute;
        height: auto;
    }
    .navigate h5{

    }

    /* Get body in shape & stay healthy */

    .get-body-main{
        width: 100vw;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .get-body-first{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small;

    }
    .get-body-second{
        width: 100vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column;
        margin-top: 20%;
    }
    .get-body-second img{
        width: 100vw;
        height: auto;
        margin: 30px;
    }
    .get-body-first h1{
        font-size: xx-large;
    }
    .get-body-first span{
        font-size: medium;
    }
    .body-btn-main{
        position: relative;
        flex-direction: column;
        font-size: small;
    }

    /* Change Your Habits */
    .habits-main{
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .habits-a{
        width: 100vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        font-size: small;
    }
    .habits-a h1{
        font-size: x-large;
    }
    .habit-img{
        grid-template-columns: repeat(1,0fr);
    }
    /* Run an Extra Mile Easily */
    .run-main{
        width: 100vw;
        height: auto;
        flex-direction: column;
        justify-content: center;

    }
    .run-text{
        font-size: medium;
    }
    /* BMI Calculator */
    .bmi-text{
        width: 100vw;
        height: 40vh;
        flex-direction: column;
        justify-content: center;
        font-size: x-small;
    }
    .bmi-calculator{
        padding: 10px;
    }

    /* BMI table style */
    .bmi-main{
        width: 100vw;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Meet Our Team */

    .team-main{
        width: 100vw;
        height: auto;
        flex-direction: column;

    }
    .team-text{
        font-size: x-small;
    }
    .team-img{
        justify-content: center;
        grid-template-columns: repeat(1,0fr);
    }

    /* Footer section style */
    footer{
       
    }
    .footer-style{
        width: 100vw;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    hr{
        margin-top: 5%;
        position: relative;
        width: 70%;
    }
    .footer-last{
        margin: 0;
        flex-direction: column;
    }
    .footer-text-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-text-one h1{
        font-size: xx-large;
    }
    .footer-text-one h5{
        text-align: center;
    }
    .footer-text-two h1{
        font-size: medium;
    }
    .footer-text-three h1{
        font-size: medium;
    }
    .footer-last h5{
        font-size: x-small;
        margin-bottom: 5%;
    }

}
